* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}

/* common container space */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* common button  */
.common-btn {
  background: #1d4ed8;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
}

/* navber */
nav {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* nav links */
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: #575757;
}

/* button */
.register-btn {
  width: 190px;
  height: 50px;
  padding: 4px;
  font-weight: 300;
  font-size: 1rem;
}

/* Banner (Hero) Section */
#banner-section {
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 15px;
  color: white;
}

/* banner container */
#banner-container {
  margin: 100px auto 0px auto;
  padding: 20px;
}

/* heading */
.multi-line-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 2rem;
  margin: 20px auto;
  padding: 10px;
}

/* paragraph */
#supporting-paragraph {
  margin: 0 auto;
  font-weight: 300;
  max-width: 600px;
  text-align: center;
  font-stretch: 1.1rem;
  padding: 10px;
}

/* hero section button */
.banner-btn {
  width: 250px;
  height: 60px;
  padding: 4px;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 200px auto 0px auto;
  padding: 10px;
}

/* main/Meet the Speakers Section  */
.speakers-section {
  margin-top: 80px;
  padding: 10px;
}

/* heading */
.sepakers-heading {
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  color: #000102;
  font-size: 2rem;
}

/* card image */
.cards img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* all cards */
.sepakers-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* card */
.cards {
  border: 1px solid #e5e7eb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* speaker-title */
.speaker-title {
  margin: 20px auto 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*  */
.speaker-title p {
  color: #2563eb;
  font-size: 0.9rem;
}
/*  */
.speaker-title h4 {
  font-size: 1.2rem;
}
/*  */
.speaker-title span {
  color: #575757;
  font-size: 0.9rem;
}

/* pricing-section */
.pricing-section {
  margin-top: 100px;
  padding: 10px;
  height: 90vh;
}

/* heading */
.pricing-section-heading {
  text-align: center;
  padding: 10px;
}

/*  */
.pricing-section-heading h1 {
  color: #0d1b2a;
  font-size: 3rem;
  margin-bottom: 20px;
}

/* paragraph */
.pricing-section-heading p {
  color: #575757;
  font-size: 1rem;
}

/* pricing-cards-container */
.pricing-cards-container {
  max-width: 1150px;
  padding: 10px;
  margin: 50px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.pricing-card {
  border: 2px solid #e5e7eb;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}

.price-container {
  margin: 10px 40% 10px 10;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price-container p {
  text-transform: uppercase;
  font-size: 1rem;
  color: #888888;
}

.price-container h1 {
  color: #0d1b2a;
  font-size: 3rem;
}

.price-container span {
  color: #888888;
  font-size: 0.9rem;
  font-weight: 400;
}

/* horizontal-line */
.horizontal-line {
  margin: 10px 0px 10px 0px;
  border: 1px solid #e5e7eb;
}

/* pricing-cards-containe */
.feature {
  margin: 20px 10% 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 400;
  color: #333333;
  font-weight: 300;
}
.feature li::marker {
  color: #2563eb;
}

.feature-btn {
  margin: 30px auto 0px auto;
  width: 100%;
  height: 50px;
  background: white;
  border: 2px solid #2563eb;
  color: #2563eb;
}

.second-card {
  background: #0d1b2a;
}

.second-horizontal-line {
  margin: 10px 0px 10px 0px;
  border: 1px solid #8888888b;
}

.second-card p {
  color: #60a5fa;
}

.second-card h1 {
  color: white;
}

.second-card .feature {
  color: #ffffffd1;
  font-weight: 300;
}

.second-card .feature-btn {
  background: #2563eb;
  color: white;
}
